<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="RMC.DataService.Properties.Settings.RMCConnectionString"
   connectionString="Data Source=74.53.37.194,1733;Initial Catalog=RMC;Persist Security Info=True;User ID=rmc"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>