<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RMC.BussinessService.Properties.Settings.RMCConnectionString"
            connectionString="Data Source=74.53.37.194,1733;Initial Catalog=RMCNew;User ID=rmc ;Password=rmc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>